@import "styles/components/animation.module.scss";

.postWrapper {
    width: 600px;
    // animation: fadeOutVir 1s reverse;
}
.mainTitle {
    text-align: center;
    text-decoration:underline;
    
}
.eachPost {
    margin-top: 1.3rem;
    animation: fadeOutVir 1s reverse;
}
.titleOnTop {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 0.5rem;
}
.post {
    display: flex;
    width: 100%;
    border: solid gray;
    background: rgba(255,255,255,0.6);
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
    transition: .5s;
}
.post:hover {
    border: solid orange;
}
.image {
    flex-basis: 40%;
}
.postFrontmatter {
    padding: 0.5rem;
    flex-basis: 60%;
}
.titleIn {
    font-weight: bold;
    margin-bottom: 0.4rem;
}
.dateWrapper {
    margin: 0.5rem 0;
}
.tagWrapper {
    margin: 0.3rem 0;
}
.excerptWrapper {
    overflow-y: scroll;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
    padding: 0.3rem;
    height: 50px;
}

//selector
.selectContainer {
    width: 100%;
    display: flex;
    margin-bottom: 3rem;
    justify-content: flex-end;
}

.selectBoxWrapper {
    position: relative;
    width: 130px;
    // display: flex;
    // justify-content: flex-end;

}

.selectBox {
    position: absolute;
    background: rgba(255,255,255,0.6);
    border-radius: 0.3rem;
    border: solid navy;
    height: 30px;
    width: 130px;
    .defaOption{
        display: grid;
        grid-template-columns: 3fr 1fr;
        .defaTag {
            margin: 0.3rem;
        }
        .iconWrapper {
            border-left: solid navy;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 0.2rem;
            .arrowDefa{
                animation: rotate180 0.5s reverse;
                // transition: .5s;
            }
            .arrowUp {
                animation: rotate180 0.5s forwards;
            }
        }
    }
}
.optionContainer {
    position: absolute;
    top: 30px;
    width: 130px;
    // height: 0px;
    overflow: hidden;
    background: rgba(255,255,255);
    border-radius: 0.3rem;
    border: solid gray;
    list-style-type:none;
    padding: 0;
    margin: 0;
    transition: 1s;
    .eachOption {
        
        padding: 0.5rem;
        transition: .5s;
    }
    .eachOption:hover {
        background: lightgray;
    }
}