@import "styles/components/animation.module.scss";

.postWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    min-height: 70vh;
    animation: fadeOutVir 1s reverse;
}
.title {
    text-align: center;
}
.dateWrapper {
    display: flex;
    width: 100%;
}
.tagContainer {
    position: relative;
    width: 100%;
    left: 0;
    margin: 1rem 0;
}
.tagWrapper{
    display: flex;
    width: 100%;
    div {
        border: solid orange;
        border-radius: 50vh;
        background: navy;
        color: white;
        padding: 0.1rem 0.6rem;
    }
}
.imgWrapper {
    margin: 1.5rem 0;
}
.post-body {
    
}
