@keyframes fadeOutVir {
    0% {
        transform: translateY(0);
        opacity: 100;
    }
    50% {
    }
    100% {
        transform: translateY(-20px);
        opacity: 0;
    }
}
@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(90deg)
    }
}

@keyframes rotate180 {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(180deg)
    }
}
:export {
    fadeOutVir : fadeOutVir;
    rotate : rotate;
}