.btnContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}
.btn {
    color: rgb(0, 58, 53);
    text-align: center;
    display: inline;
    border: solid rgb(85, 217, 222);
    background: rgb(178, 224, 212);
    border-radius: 0.2rem;
    padding: 0.5rem 1rem;
    margin: 1rem;
    font-weight: bold;
    transition: .5s;
}
.btn:hover {
    border: solid rgb(146, 243, 247);
    background: rgb(230, 255, 248);
}
.btnOrange {
    color: black;
    text-align: center;
    display: inline;
    border: solid rgb(226, 182, 81);
    background: rgb(246, 234, 209);
    border-radius: 50vh;
    padding: 0.2rem 0.8rem;
    margin: 1rem;
    transition: .5s;
}
.btnOrange:hover {
    border: solid rgb(254, 119, 0);
    background: rgb(246, 234, 209);
}