.footer {
    position: relative;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.footerContainer {
    position: absolute;
    bottom: 0;
    color: lightgray;
}
.linkedinIcon {
    justify-content: center;
    font-size: 2rem;
    text-align: center;
}
.icon {
    transition: .5s;
}
.icon:hover {
    color: aquamarine;
}