.pageProps {
  max-width: 600px;
  min-height: 100%;
}
.box {
  background: rgba(0,0,0,0.8);
  padding: 0.5rem 2rem;
  border: solid rgb(99, 99, 99);
  border-radius: 0.2rem;
  color: rgb(240, 240, 240);
  text-align: center;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
}
.introContainer {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
  .myInfo {
    flex-basis: 50%;
  }
  .imgFlexBox {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .myImg {
    // flex-basis: 50%;
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    border: 0.2rem solid lightgrey;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
    border-radius: 50vh;
  }
}
.historyWrapper {
  margin: 2rem 0;
  text-align: center;
}
@media (max-width:650px) {
  .pageProps {
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem;
  }
  .box{
    display: block;
    width: auto;
    padding: auto;
  }
}