@import "components/colors.module.scss";
@import "components/animation.module.scss";


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
pre code {
  // display: inline-block;
  width: 600px;
  overflow-x: auto;
}
pre {
  width: 600px;
}

a {
  text-decoration: none;
  color: #000000;
  cursor: default;
  
}
a:active {
  color: #000000;
}
a:focus {
  outline: none;
}
.main {
  background: no-repeat $background-color;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  a {
    text-decoration: none;
    color: #000000;
    cursor: default;
    
  }
}
.darkMain {
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: no-repeat $dark-background-color;
  color: lightgray;
  a {
    text-decoration: none;
    color: lightgray;
    cursor: default;
    
  }
}

* {
  box-sizing: border-box;
}

@media(max-width: 650px){
  pre code {
    // display: inline-block;
    width: 100vw;
    overflow-x: auto;
  }
  pre {
    width: 96vw;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
