:root {
  --l-container-text-c: rgb(85, 85, 85);
  --l-container-border-c: gray;
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
h1 {
  display: block !important;
  font-size: 2em !important;
  -webkit-margin-before: 0.67em !important;
  -webkit-margin-after: 0.67em !important;
  -webkit-margin-start: 0px !important;
  -webkit-margin-end: 0px !important;
  font-weight: bold !important;
}
h2 {
  display: block !important;
  font-size: 1.5em !important;
  -webkit-margin-before: 0.83em !important;
  -webkit-margin-after: 0.83em !important;
  -webkit-margin-start: 0px !important;
  -webkit-margin-end: 0px !important;
  font-weight: bold !important;
}
h3 {
  display: block !important;
  font-size: 1.17em !important;
  -webkit-margin-before: 1em !important;
  -webkit-margin-after: 1em !important;
  -webkit-margin-start: 0px !important;
  -webkit-margin-end: 0px !important;
  font-weight: bold !important;
}
h4 {
  display: block !important;
  -webkit-margin-before: 1.33em !important;
  -webkit-margin-after: 1.33em !important;
  -webkit-margin-start: 0px !important;
  -webkit-margin-end: 0px !important;
  font-weight: bold !important;
}
h5 {
  display: block !important;
  font-size: 0.83em !important;
  -webkit-margin-before: 1.67em !important;
  -webkit-margin-after: 1.67em !important;
  -webkit-margin-start: 0px !important;
  -webkit-margin-end: 0px !important;
  font-weight: bold !important;
}
h6 {
  display: block !important;
  font-size: 0.67em !important;
  -webkit-margin-before: 2.33em !important;
  -webkit-margin-after: 2.33em !important;
  -webkit-margin-start: 0px !important;
  -webkit-margin-end: 0px !important;
  font-weight: bold !important;
}
pre code {
  // display: inline-block;
  width: 600px;
  overflow-x: auto;
}
pre {
  width: 600px;
}
blockquote{
  padding: 0.5rem 1rem;
  border-left: 0.5rem solid lightgray !important;
}
mdContainer {
  display: block;
  color: var(--l-container-text-c);
  background: rgb(217, 217, 217);
  border-left: 1rem solid var(--l-container-border-c);
  padding: 0.5rem;
  font-weight: bold;
}
mdContainer.blue { //set classname = blue; 
  color: #414141;
  border-left: 1rem solid #68d0d8;
  background: #e3fcff;
}
mdContainer.red {
  color: #414141;
  border-left: 1rem solid #ff5959;
  background: #ffe7e7;
}
center {
  display: flex;
  justify-content: center;
}
index-color {
  color: #ff5959;
}
sub-index-color {
  color: brown;
}
r-container {
  background: gray;
  padding: 1rem;
  border-radius: 5px;
  border: solid #757575;
  color: white;
}

* {
  box-sizing: border-box;
}

@media(max-width: 650px){
  pre code {
    // display: inline-block;
    width: 100vw;
    overflow-x: auto;
  }
  pre {
    width: 96vw;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
