:root {
  --l-container-text-c: rgb(85, 85, 85);
  --l-container-border-c: gray;
  --angle:360deg
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
h1 {
  display: block !important;
  font-size: 2em !important;
  -webkit-margin-before: 0.67em !important;
  -webkit-margin-after: 0.67em !important;
  -webkit-margin-start: 0px !important;
  -webkit-margin-end: 0px !important;
  font-weight: bold !important;
}
h2 {
  display: block !important;
  font-size: 1.5em !important;
  -webkit-margin-before: 0.83em !important;
  -webkit-margin-after: 0.83em !important;
  -webkit-margin-start: 0px !important;
  -webkit-margin-end: 0px !important;
  font-weight: bold !important;
}
h3 {
  display: block !important;
  font-size: 1.17em !important;
  -webkit-margin-before: 1em !important;
  -webkit-margin-after: 1em !important;
  -webkit-margin-start: 0px !important;
  -webkit-margin-end: 0px !important;
  font-weight: bold !important;
}
h4 {
  display: block !important;
  -webkit-margin-before: 1.33em !important;
  -webkit-margin-after: 1.33em !important;
  -webkit-margin-start: 0px !important;
  -webkit-margin-end: 0px !important;
  font-weight: bold !important;
}
h5 {
  display: block !important;
  font-size: 0.83em !important;
  -webkit-margin-before: 1.67em !important;
  -webkit-margin-after: 1.67em !important;
  -webkit-margin-start: 0px !important;
  -webkit-margin-end: 0px !important;
  font-weight: bold !important;
}
h6 {
  display: block !important;
  font-size: 0.67em !important;
  -webkit-margin-before: 2.33em !important;
  -webkit-margin-after: 2.33em !important;
  -webkit-margin-start: 0px !important;
  -webkit-margin-end: 0px !important;
  font-weight: bold !important;
}
pre code {
  // display: inline-block;
  width: 600px;
  overflow-x: auto;
}
pre {
  width: 600px;
}
blockquote{
  padding: 0.5rem 1rem;
  border-left: 0.5rem solid lightgray !important;
}
mdContainer {
  display: block;
  color: var(--l-container-text-c);
  background: rgb(217, 217, 217);
  border-left: 1rem solid var(--l-container-border-c);
  padding: 0.5rem;
}
mdContainer.blue {
  color: #414141;
  border-left: 1rem solid #68d0d8;
  background: #e3fcff;
}
mdContainer.red {
  color: #414141;
  border-left: 1rem solid #ff5959;
  background: #ffe7e7;
}
img:hover {
  border: solid red;
}

* {
  box-sizing: border-box;
}

.spin {
  animation: spin 1s infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(var(--angle));
  }
}

.path{
  animation: path 1s infinite;
}
@keyframes path {
  0% {  stroke-dashoffset:56;  }
  100% { stroke-dashoffset:0; }
}

.ball {
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  // offset-path: path('M20,20 C20,100 200,0 200,100');
  offset-path: path("M12.7692 6.70483C9.53846 2.01902 4 3.90245 4 8.68256C4 13.4627 13.2308 20 13.2308 20C13.2308 20 22 13.2003 22 8.68256C22 4.16479 16.9231 2.01903 13.6923 6.70483L13.2308 7.0791L12.7692 6.70483Z");
  offset-distance: 0%;

  // animation: along-path 1s infinite;
}


@keyframes along-path {
  from {
    offset-distance: 0%;
  }
  to {
    offset-distance: 100%;
  }
}
@media(max-width: 650px){
  pre code {
    // display: inline-block;
    width: 100vw;
    overflow-x: auto;
  }
  pre {
    width: 96vw;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
